<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.henry.cse477" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uwlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/CSE477" >
>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BAC"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".BAC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henry.cse477.BAC" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LocationDisplay"
            android:label="@string/Location"
            android:parentActivityName=".BAC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henry.cse477.BAC" />
        </activity>
        <activity
            android:name=".progress"
            android:label="@string/title_activity_progress" >
        </activity>
        <activity
            android:name=".Me"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name=".setTime"
            android:label="@string/title_activity_set_time" >
        </activity>
        <activity
            android:name=".setContact"
            android:label="@string/title_activity_set_contact" >
        </activity>
        <activity
            android:name=".mySettings"
            android:label="@string/title_activity_my_settings"
            android:parentActivityName=".BAC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henry.cse477.BAC" />
        </activity>
        <activity
            android:name=".myAddress"
            android:label="@string/title_activity_my_address"
            android:parentActivityName=".BAC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henry.cse477.BAC" />
        </activity>
        <activity
            android:name=".Initializations"
            android:label="@string/title_activity_initializations"
            android:parentActivityName=".BAC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henry.cse477.BAC" />
        </activity>
    </application>

</manifest>
