<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.henry.cse477" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uwlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashScreen"
            android:label="@string/CSE477" >>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BAC"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".BAC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henry.cse477.BAC" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LocationDisplay"
            android:label="@string/Location"
            android:parentActivityName=".BAC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.henry.cse477.BAC" />
        </activity>

    </application>

</manifest>
